{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<people-group people="groups.requester" instance="instance" editable="editable" required="true" limit="1" type="requester" binding="related_requesters"></people-group>
<people-group people="groups.assignee" instance="instance" editable="editable" required="true" type="assignee" binding="related_assignees"></people-group>
<people-group people="groups.verifier" instance="instance" editable="editable" required="true" type="verifier" binding="related_verifiers"></people-group>
